*{
    /* To accomodate contents inside box, vertical scroll bar */
    box-sizing: border-box;
    overflow:auto;

    /* To avoid horizontal scrolling */
    word-break: break-all;
}
/* expand container view */
.container{
    width:90%;
}
/* Remove float */
.container-left, .container-right{
    width:100%;
    float: none;
}
.card{
    margin-bottom: 21px;
}