$text-size-h1: 50px;
$text-size-h3: 30px;

$designer-name-row-gap: 12px;
$designer-mail-font-size: 16px;

$designer-row-gap: 6px;
$designer-padding: 210px 0px 0px;

$gallery-padding: 0px 20px;

$brands-wrapper-column-gap: 0px;
$logo-width :200px;

$footer-row-gap: 40px;
$footer-margin: 150px auto 50px;

$divider-smaller-width: 25px;
$divider-larger-width: 125px;