$text-dull : #cecece;
$text-color-blue : #4990e2;
$text-color-green: #87d979;
$text-size-h1 : 150px;
$text-size-h3: 50px;
$text-size-p: 20px;

$designer-name-row-gap: 6px;
$designer-mail-font-size: 24px;

$designer-row-gap: 130px;
$designer-padding: 40px 172px 0px;

$gallery-padding: 0px 50px;

$brands-wrapper-column-gap: 100px;
$logo-width: 120px;

$footer-row-gap: 120px;
$footer-margin: 280px auto 170px;

$divider-smaller-width: 35px;
$divider-larger-width: 200px;